* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.intro {
    background: #EAF0F1;
}

h1 {
    color: #4C4B4B;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

h3 {
    color: #2F363F;
    text-align: center;
}

button {
    padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


button:hover,
h1:hover {
    transform: scale(1.1);
}

button:hover {
    background-color: #4C4B4B;
}

footer {
    color: #586776;
    background-color: #EAF0F1;
    letter-spacing: 0.5px;
}

footer p {
    margin: 0;
    font-size: 15px;
}

@media only screen and (orientation:portrait) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 30px;
    }

    .act {
        padding-bottom: 100px;
    }
}
